# Compiled class file
*.class

# Log file
*.log

# Project files
*.ctxt
.gradle/
.idea/
*.iml
build/
classes/
.classpath
.project
.settings/
out/
target/
.DS_Store
bin/
*.ipr
*.iws
.gradle

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.iws
*.iml
*.ear
*.zip
*.ipr
*.tar.gz
*.rar
.idea



